:root {
  --primary-color: #feaf00;
  --second-color: #ffffff;
  --input-border: 1px solid #e5e5e5;
  --text-color: #000000;
  --text-input: #c4c4c4;
  --text-field: #acacac;
  --text-size-14: 14px;
  --text-line-17: 17px;
}
